{relx, [{release, {server, "0.1.0"},
          [server,common],
          [
            {sys_config_src, "config/server.config.src"},
            {vm_args, "config/server.args"}
          ]},
        {release, {client, "0.1.0"},
          [client,common],
          [
            {sys_config_src, "config/client.config.src"},
            {vm_args, "config/client.args"}
          ]},
        {mode,dev}]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
