[
    {kernel,[
        {logger_level,debug},
        {logger,[
            {handler, default, logger_std_h, 
                #{formatter => 
                    {logger_formatter, #{
                        legacy_header => false,
                        single_line => true}}}}]}]},
    {server,[
        {port, 8388},
        {password, "barfoo!"},
        {method, chacha20_poly1305}]},  
    {client,[
        {address, localhost},
        {port, 8388},
        {local_port, 1080},
        {password, "barfoo!"},
        {method, chacha20_poly1305}]}].
  